/*CSS*/


* {
  box-sizing: border-box;
}

/*Typography*/

@font-face {
   font-family: Roboto Mono;
   src: url(pitch-sans-regular.woff2);
}



h1 {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant-ligatures: normal;
  font-size: 19.20px;
  letter-spacing: 0px;
}

p {
  font-family: 'Roboto Mono', monospace;  
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant-ligatures: normal;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 20px;
}


/* Header/Blog Title */
.header {
  padding: 50px;
  margin-top: 50px;
  text-align: center;
}

/* Column */
.centrecolumn {   
  float: centre;
  width: 100%;
  padding: 10px;
}


/* Card */
.card {
   margin: auto;
   width: 40%;
   padding-bottom: 60px;
}


/* Break Points */
@media (max-width: 1100px) {
  .card {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .card {
    width: 80%;
  }
}

/* Alignment */
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Background Colour */
body {background-color: #f4f4f4;}


/* Day/Night Mode */
.dark-mode {
  background-color: #252627;
  color: white;
} 

/* Button */
 .button {
     line-height: 12px;
     width: 18px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
 }

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}