/*CSS*/


* {
  box-sizing: border-box;
}

/*Typography*/
body {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
}

body {
  color: #000000;
}

h1 {
  color: #000000;
}


/* Header/Blog Title */
.header {
  padding: 0px;
  margin-top: 50px;
  font-size: 16px;
  text-align: center;
}

/* Column */
.centrecolumn {   
  float: centre;
  width: 100%;
  padding: 20px;
}


/* Card */
.card {
   margin: auto;
   padding: 50px;
   width: 50%;
}


/* Break Points */
@media (max-width: 1100px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .card {
    width: 100%;
  }
}

/* Alignment */
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Background Colour*/
body {background-color: #f4f4f4;}


/* Day/Night Mode */
.dark-mode {
  background-color: black;
  color: white;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}