/*CSS*/


* {
  box-sizing: border-box;
}

/* Typography/Background */
body {
  font-family: Helvetica;
  padding: 20px;
  background: #ffffff;
}

/* Header/Blog Title */
.header {
  padding: 0px;
  margin-top: 100px;
  font-size: 30px;
  text-align: center;
}

/* Column */
.centrecolumn {   
  float: centre;
  width: 100%;
  padding: 20px;
}


/* Card */
.card {
   background-color: white;
   padding: 150px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ffffff;
  margin-top: 20px;
}